# Virtual Environment
venv/
env/
ENV/
.Python
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# FastAPI Specific
.pytest_cache/
coverage.xml
htmlcov/

# Logs
*.log
logs/

# Additions for Your Project
client/node_modules/
*.http
